name: Run Selenium Tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 3 * * *"   # запуск каждый день в 05:00 по Киеву

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Google Chrome
        run: |
          sudo apt update
          sudo apt install -y wget gnupg
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb

      - name: Install Dependencies
        run: npm install

      - name: Run Selenium Tests
        env:
          CHROME_PATH: /usr/bin/google-chrome
        run: node runAll.js

      - name: Upload Reports
        uses: actions/upload-artifact@v3
        with:
          name: selenium-reports
          path: reports/
